<title>pyspread</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="Author" content="Martin Manns">
<meta name="description" content="Pyspread is a non-traditional spreadsheet application.">
<meta name="keywords" content="pyspread, spreadsheet, python, python
      spreadsheet, numpy, wxpython, csv, data mining">
<meta content="text/html; charset=UTF-8" http-equiv="content-type">
<meta name=viewport content="width=device-width, initial-scale=0.75">
<link rel="icon" type="image/png" href="images/pyspread_icon.png">

<link rel="stylesheet" href="{{ "/css/w3.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/css/layout.css" | prepend: site.baseurl }}">

