<!-- Menu docs-->
<div id="menu" class="w3-container">
  <div class="w3-col l2 m0 s0">
   <br>
  </div>
  <div class="w3-col l10 m12 s12">
    <a class="menu" href="index.html"
    {% if page.menu == "home" %}
        style="text-decoration: overline; color: black;"
    {% endif %}
    >
        home
    </a>
    &nbsp;|&nbsp;&nbsp;
    <a class="menu" href="download.html"
    {% if page.menu == "download" %}
        style="text-decoration: overline; color: black;"
    {% endif %}
    >
        download
    </a>
    &nbsp;|&nbsp;&nbsp;
    <a class="menu" href="docs.html"
    {% if page.menu == "docs" %}
        style="text-decoration: overline; color: black;"
    {% endif %}
    >
        docs
    </a>
    &nbsp; |&nbsp;&nbsp;
    <a class="menu" href="contribute.html"
    {% if page.menu == "contribute" %}
        style="text-decoration: overline; color: black;"
    {% endif %}
    >
        contribute
    </a>
    &nbsp;|&nbsp;&nbsp;
    <a class="menu" href="https://gitlab.com/pyspread/pyspread" target="_blank">
        source code
    </a>
  </div>
</div>
