<aside>

</aside>


<h1>How to help</h1>

<p class="one_line_heading">
  Thank you for your interest in improving pyspread.
  Pyspread is non-commercial. It lives from your contributions.
  Do not hesitate to help with small things, e.g. stating a feature wish in the 
  <a href="https://github.com/manns/pyspread/issues">issue tracker</a>.
</p>

<h1>Bug reports</h1>

<p class="one_line_heading">
  For bug reports, please use the 
  <a href="https://github.com/manns/pyspread/issues">issue tracker</a>.
</p>

<h1>Patches</h1>

<p class="one_line_heading">
  For patches / code contributions, please
  <ol class="one_line_heading">
    <li>fork the master branch and</li>
    <li>create a merge request that</li>
    <li>you refer to in an issue.</li>
  </ol>
</p>

<p class="one_line_heading">
  Please try solving only one issue or realize one feature per branch.
</p>

<h1>roadmap</h1>

<p class="one_line_heading">
  Pyspread 1.x only works with Python 2.x. 
  Development concentrates on fixing bugs and maintaining compatibility.
  Its source code currently is located in the 
  <a href="https://github.com/manns/pyspread/" target="_blank">
  master branch</a>.
</p>

<p class="one_line_heading">
  Pyspread 2.x will be Python3 compatible. It is under heavy development and
  not yet ready for production use.  Its source code currently is located in the
  <a href="https://github.com/manns/pyspread/tree/python3" target="_blank">
  python3 branch</a>. New features should be developed against pyspread 2.x. 
</p>

<p class="one_line_heading">
  The switch to Python3 goes along with changing the GUI toolkit from 
  <a href="https://www.wxpython.org/" target="_blank">wxPython</a> to 
  <a href="https://www.riverbankcomputing.com/software/pyqt/" target="_blank">
  PyQt5</a>. This change requires a major rewrite of the GUI part of pyspread.
  For an overview of current and future tasks for realizing pyspread 2.0,
  please refer to the 
  <a href="https://github.com/manns/pyspread/wiki/Pyspread-development"
   target="_blank">to do list</a>.
</p>

<h1>Community</h1>
<p class="one_line_heading">
  For getting in touch with pyspread developers, please join our 
  <a href="https://gitter.im/pyspread/community" target="_blank">chat</a>.
</p>

<p class="impressum">
  Author:
  <a href="mailto:mmanns <at> gmx <dot> net">
    Martin Manns (mmanns &lt; at &gt; gmx &lt; dot &gt; net)
  </a>
  <br> <br>
  Last changed: 26. July 2019</span>
</p>
